<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:object="${createForm}" th:method="post" th:action="@{/templates/admin}">
    <div>
        <label for="loginId">회원가입할 ID</label>
        <input type="text" id="loginId" th:field="*{loginId}">
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}">
    </div>
    <hr>
    <div>
        <div>
            <button type="submit">운영자 가입</button> </div>
        <div>
            <button th:onclick="|location.href='@{/}'|" type="button">취소</button>
        </div>
    </div>
</form>

</body>
</html>