<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="deleteForm.html"
          th:action="@{/reviews(restaurantId=${param.restaurantId},reviewId=${param.reviewId})}"
          th:method="delete" th:object="${reviewDeleteRequestDto}">
        <div>
            <input type="password" th:field="*{password}" th:text="*{password}">
        </div>
        <button type="submit">삭제</button>
    </form>
</div>

</body>
</html>