<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        function reload() {
            // 여기 Ajax 해야하는데, 일단 다른거 먼저 하기.
            opener.parent.location.reload();
            window.close();
        }
    </script>
</head>
<body>
<div>
    <form action="deleteForm.html"
          th:action="@{/reviews(restaurantId=${param.restaurantId},reviewId=${param.reviewId})}"
          th:method="delete" th:object="${reviewDeleteForm}">
        <div>
            <input type="password" th:field="*{password}">
        </div>
        <button type="submit" onclick="reload()">삭제</button>
    </form>
</div>

</body>
</html>
