<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="editForm.html" th:action="@{/reviews(restaurantId=${param.restaurantId},reviewId=${param.reviewId})}" th:method="patch" th:object="${reviewUpdateForm}">
        <div>
            <input type="text" th:field="*{name}" th:value="${review.writerName}" th:text="${review.writerName}">
            <input type="password" th:field="*{password}">
            <input type="text" th:field="*{content}" th:value="${review.content}">
        </div>
        <button type="submit">수정</button>
    </form>


</body>
</html>