<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/edit_style.css" th:href="@{/css/edit_style.css}">
    <title>코멘트 수정</title>
    <script type="text/javascript">
        /*<![CDATA[*/
        let restaurantId = [[${param.restaurantId}]];
        let reviewId = [[${param.reviewId}]];
        /*]]*/

        var xmlHttp = new XMLHttpRequest();

        xmlHttp.onreadystatechange = function () {
            if (this.status === 200 && this.readyState === this.DONE) {
                opener.location.replace(`/restaurants/${restaurantId}`);
                window.close();
            }
        }

        function requestUpdate() {

            console.log(restaurantId+ " : "+reviewId)

            var writerName = document.getElementById("writerName").value;
            var password = document.getElementById("editpassword").value;
            console.log(password);
            var content = document.getElementById("content").value;

            var data = `writerName=${writerName}&password=${password}&content=${content}&restaurantId=${restaurantId}&reviewId=${reviewId}`;

            xmlHttp.open("PATCH", "/reviews");
            xmlHttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xmlHttp.send(data);

            console.log(window.opener);

        }
    </script>
</head>
<body>
<h3>댓글 수정</h3>
<main>
    <div>
        <input type="text" id="writerName" name="writerName" th:value="${review.writerName}" placeholder="아이디" maxlength='10'>
        <input type="password" id="editpassword" name="editpassword" placeholder="비밀번호"><br>
        <textarea rows="10" cols="40" th:id="content" th:value="${review.content}" placeholder="내용"></textarea>
        <button type="submit" id="editbutton" onclick="requestUpdate();">수정</button>
    </div>
</main>
</body>
</html>

