<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/detail_style.css" th:href="@{/css/detail_style.css}">
    <title>상세정보</title>
    <script th:inline="javascript">
        function validateEmpty() {
            if (document.getElementById("content").value.length == 0) {
                document.getElementById("content").focus();
                alert("리뷰의 내용을 입력해주세요.");
                return false;
            }
        }

        function editPopup(restaurantId, reviewId) {
            window.open("/reviews/edit?restaurantId=" + restaurantId + "&reviewId=" + reviewId, "_black", "width=320, height=500, left=30, top=50");
        }

        function deletePopup(restaurantId, reviewId) {
            window.open("/reviews/delete?restaurantId=" + restaurantId + "&reviewId=" + reviewId, "_black", "width=320, height=500, left=30, top=50");
        }
    </script>
</head>
<body>


<header onclick="location.href='searchForm.html'" th:onclick="|location.href='@{/}'|" style="cursor: pointer">랜선 선배
</header>
<main>
    <h2 th:text="${restaurant.name}">음식점 이름<span>/</span></h2> <!--음식-->
    <span th:text="${foodCategories[restaurant.category.name()]}">한식</span>

    <button class="hyperlink" onclick="location.href='#';"
            th:onclick="'location.href=\''+ @{${restaurant.url}} + '\''">네이버 이동</button>
    <section class="explain">
        <article class="informaion">
            <div>
                <h4>점심 추천</h4>
                <h3 th:text="${restaurant.getLunchMenuName()}"></h3>
                <h3 th:text="${restaurant.getLunchMenuPrice()}"></h3>
            </div>
            <div>
                <h4>점심 추천</h4>
                <h3 th:text="${restaurant.getDinnerMenuName()}"></h3>
                <h3 th:text="${restaurant.getDinnerMenuPrice()}"></h3>
            </div>
            <hr>
        </article>
        <article class="hashtag">
            <div>
                <h4 id="tmi">TMI. <span th:text="${restaurant.getAdminComment()}"></span></h4>
                <p>
                    <span th:if="${restaurant.hasCostPerformance}">#가성비</span>
                    <span th:if="${restaurant.isAtmosphere}">#깔끔함</span>
                    <span th:if="${restaurant.canEatSingle}">#혼밥가능</span>
                </p>
            </div>
        </article>
    </section>
    <hr>
    <section class="bbs">
        <h3>당신의 TMI는?</h3>
        <form id="reviewForm" action="" th:action="@{/reviews(restaurantId=${restaurant.id})}" method="post"
              th:object="${reviewCreateForm}" onsubmit="return validateEmpty();">
            <input type="text" placeholder="아이디" th:field="*{name}" maxlength='10' required/>
            <input type="password" placeholder="비밀번호" th:field="*{password}" required/><br>
            <textarea rows="10" cols="40" class="content" id="content" placeholder="내용"
                      th:field="*{content}"></textarea>
            <button type="submit" id="submit">전송!</button>
        </form>
    </section>
</main>
<footer>
    <div th:each="review : ${reviews}"> <!--이 div 하나가 댓글 하나-->
        <table>
            <tr>
                <th th:text="${review.writerName}">아이디</th>
                <th th:text="${review.lastModifiedDate}">작성시간</th>
            </tr>
            <tr>
                <td colspan="2" th:text="${review.content}"></td>
            </tr>
        </table>
        <button type="submit" th:reviewId="${review.id}" th:restaurantId="${restaurant.id}"
                th:onclick="editPopup(this.getAttribute('restaurantId'), this.getAttribute('reviewId'));">수정
        </button>
        <button type="submit" th:reviewId="${review.id}" th:restaurantId="${restaurant.id}"
                th:onclick="deletePopup(this.getAttribute('restaurantId'), this.getAttribute('reviewId'));">삭제
        </button>
    </div>
</footer>
</body>
</html>