<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../css/result_style.css" th:href="@{/css/result_style.css}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>간단한 지도 표시하기</title>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=tv4q0aykz0"></script>
</head>
<body>
<div id="map" style="width:400px;height:400px;"></div>
<!--이거 크기 모바일에 맞춰 가변적으로 바뀌게 해야함.-->
<div id="results"></div>
<!--이걸 클릭가능하게 만들아주자. 모양은 CSS겠지머-->

<script th:inline="javascript">
  var locations = [[${locations}]]
  var foodCategories = [[${foodCategories}]]
  var results = [[${results}]];

  // 디비에 테스트로 넣을 값.
  // insert into restaurant values(1,'ddsjladal',true, 'KOREAN', 35.177049, 126.906614, true, true, 'BACK_DOOR', 1000, '테스트가게' ,'12312313');
  // insert into restaurant values(2,'ddsjladal',true, 'CHINESE', 35.178049, 126.906614, true, true, 'BACK_DOOR', 3000, '테스트가게1' ,'12312313');
  // SELECT * FROM RESTAURANT;

  var mapOptions = {
    center: new naver.maps.LatLng(35.177049, 126.906614),
    zoom: 15
  };

  var map = new naver.maps.Map('map', mapOptions);

  results = results.reduce(function(target, key, index) {
    target[key.name] = key;
    return target;
  }, {}) //initial empty object

  var MARKER_SPRITE_X_OFFSET = 29,
          MARKER_SPRITE_Y_OFFSET = 50,
          MARKER_SPRITE_POSITION = results;

  var markers = [],
          infoWindows = [];

  for (var key in MARKER_SPRITE_POSITION) {

    var position = new naver.maps.LatLng(
            MARKER_SPRITE_POSITION[key].locationX,
            MARKER_SPRITE_POSITION[key].locationY);

    var marker = new naver.maps.Marker({
      map: map,
      position: position,
      zIndex: 100
    });

    var infoWindow = new naver.maps.InfoWindow({
      content: '<div style="width:150px;text-align:center;padding:10px;">' +
              '가게명 : '+ key +
              '<br>종류 : '+ foodCategories[MARKER_SPRITE_POSITION[key].category] +'</br></div>'
    });

    markers.push(marker);
    infoWindows.push(infoWindow);

    //밑에 리스트 형식으로 html을 만들어준다.
    addRestaurantList(MARKER_SPRITE_POSITION[key]);
  };

  function addRestaurantList(restaurant) {
    const article = document.createElement("article");
    article.setAttribute('id', restaurant.id);
    article.setAttribute("style", "cursor: pointer;");
    article.setAttribute('onclick', 'window.open(\"restaurants/'+restaurant.id+'\")');

    const detail1_1 = document.createElement("td");
    const detail1_2 = document.createElement("td");
    detail1_1.appendChild(document.createTextNode("가게명 : " + restaurant.name));
    detail1_2.appendChild(document.createTextNode(locations[restaurant.location]));
    const detail1 = document.createElement("tr");
    detail1.appendChild(detail1_1);
    detail1.appendChild(detail1_2);

    const detail2_1 = document.createElement("td");
    const detail2_2 = document.createElement("td");
    detail2_1.appendChild(document.createTextNode("1인당 최소 비용 : " + restaurant.minCostPerPerson));
    detail2_2.appendChild(document.createTextNode(foodCategories[restaurant.category]));
    const detail2 = document.createElement("tr");
    detail2.appendChild(detail2_1);
    detail2.appendChild(detail2_2);

    const table = document.createElement("table");
    table.appendChild(detail1);
    table.appendChild(detail2);

    article.appendChild(table);

    document.getElementById('results').appendChild(article);
  }
  // 해당 마커의 인덱스를 seq라는 클로저 변수로 저장하는 이벤트 핸들러를 반환합니다.
  function getClickHandler(seq) {
    return function(e) {
      var marker = markers[seq],
              infoWindow = infoWindows[seq];

      if (infoWindow.getMap()) {
        infoWindow.close();
      } else {
        infoWindow.open(map, marker);
      }
    }
  }

  for (var i=0, ii=markers.length; i<ii; i++) {
    naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
  }

</script>
</body>
</html>





