<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>식당 조건 검색</title>
</head>
<body>
<form action="" th:action method="post" th:object="${searchForm}">

  <div>
    <div>위치를 선택하세요 : </div>
    <div th:each="location : ${locations}">
      <input type="checkbox" name="location" value="위치 값" text ="위치 이름"
             th:field="*{locations}" th:value="${location.getKey()}" th:text="${location.getValue()}">
    </div>
  </div>

  <div>
    <label>먹기 싫은 종류의 음식을 선택하세요 : </label>
    <div th:each="foodCategory : ${foodCategories}">
      <input type="checkbox" name="foodCategory" value="음식 종류 값" text ="음식 종류 이름"
             th:field="*{unselectedCategories}" th:value="${foodCategory.getKey()}" th:text="${foodCategory.getValue()}">
    </div>
  </div>

  <div>
    <div><label>원하는 조건을 클릭하세요 : </label></div>
    <div>
      <input type="checkbox" th:field = "*{isAtmosphere}" name="isAtmosphere" value="분위기여부">분위기여부
    </div>
    <div>
      <input type="checkbox" th:field = "*{hasCostPerformance}" name="hasCostPerformance" value="가성비">가성비
    </div>
    <div>
      <input type="checkbox" th:field = "*{canEatSingle}" name="canEatSingle" value="혼밥가능">혼밥가능
    </div>
  </div>

  <div>
    <label>1인당 사용할 수 있는 최대 금액을 입력하세요 : </label>
    <input type="text" th:field = "*{maxCostLine}"
           name="maxCostLine" value="최대한도"/>
  </div>

  <div>
    <label>언제 식사를 할 예정인가요? : </label>
    <div th:each="openType : ${openTypes}">
      <input type="radio" name="openType" value="시간대" text ="시간대"
             th:field="*{openType}" th:value="${openType.getKey()}" th:text="${openType.getValue()}">
    </div>
  </div>

  <button class="btn-primary" type="submit">전송</button>

</form>

</body>
</html>