<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/search_style.css" th:href="@{/css/search_style.css}">
  <title>식당 조건 검색</title>
  <script>
    function colorChange(x, event){
      let check = false;
      let rowcolor= null;
      rowcolor = document.getElementById(x);

      if(event.target.checked){
        rowcolor.style.background="darkseagreen";
      }else{
        rowcolor.style.background="ghostwhite";
      }
      if(x==='time1'){
        check=document.getElementById("lunch");
        let rowcolor1 = document.getElementById("time1");
        let rowcolor2 = document.getElementById("time2");
        if(check.checked){
          rowcolor1.style.background="darkseagreen";
          rowcolor2.style.background="ghostwhite";

        }else{
          rowcolor1.style.background="ghostwhite";
          rowcolor2.style.background="darkseagreen";
        }
      }
      if(x==='time2'){
        check=document.getElementById("dinner");
        let rowcolor1 = document.getElementById("time1");
        let rowcolor2 = document.getElementById("time2");
        if(check.checked){
          rowcolor1.style.background="ghostwhite";
          rowcolor2.style.background="darkseagreen";

        }else{
          rowcolor1.style.background="darkseagreen";
          rowcolor2.style.background="ghostwhite";
        }
      }
    }
  </script>
</head>

<body>
<header onclick="location.href='searchForm.html'" th:onclick="|location.href='@{/search}'|" style="cursor: pointer">전남대 맛집 탐색 어플 </header>
<main>
  <form action="" th:action method="post" th:object="${searchForm}">
    <div class="time">
      <h3>언제 식사를 할 예정인가요?(필수)</h3>
      <table align="center">
        <tr>
          <th onclick="colorChange(this.id, event)" id="time1"><label><input type="radio" name="time" id="lunch" th:field="*{openType}" th:value="LUNCH">점심</label></th>
          <th onclick="colorChange(this.id, event)" id="time2"><label><input type="radio" name="time" id="dinner" th:field="*{openType}" th:value="DINNER">저녁</label></th>
<!--          -->
        </tr>
      </table>
      <div th:errors="*{openType}" style="color: red">필수값 오류</div>
    </div>

    <div class="location">
      <h3>위치를 모두 선택하세요</h3>
      <table align="center">
        <tr>
          <th onclick="colorChange(this.id, event)" id="location1"><label><input type="checkbox" id="front" th:field="*{locations}" th:value="FRONT_DOOR">정문&#x2B07;</label></th>
          <th onclick="colorChange(this.id, event)" id="location2"><label><input type="checkbox" id="back" th:field="*{locations}" th:value="BACK_DOOR">후문&#x27A1;</label></th>
        </tr>
        <tr>
          <th onclick="colorChange(this.id, event)" id="location3"><label><input type="checkbox" id="sangdae" th:field="*{locations}" th:value="SANGDAE">상대&#x2196;</label></th>
          <th onclick="colorChange(this.id, event)" id="location4"><label><input type="checkbox" id="side" th:field="*{locations}" th:value="ENGINEER_SIDE_DOOR">쪽문&#x2197;</label></th>
        </tr>
        <tr>
          <th onclick="colorChange(this.id, event)" id="location5"><label><input type="checkbox" id="bockgae" th:field="*{locations}" th:value="BOKGAE">복개도로&#x2198;</label></th>
          <th onclick="colorChange(this.id, event)" id="location6"><label><input type="checkbox" id="location_etc" th:field="*{locations}" th:value="INSIDE_SCHOOL">기타</label></th>
        </tr>
      </table>
    </div>

    <div class="food">
      <h3>먹기 싫은 종류의 음식을 모두 선택하세요</h3>
      <table align="center">
        <tr>
          <th onclick="colorChange(this.id, event)" id="food1"><label><input type="checkbox" id="korea" th:field="*{unselectedCategories}" th:value="KOREAN">한식</label></th>
          <th onclick="colorChange(this.id, event)" id="food2"><label><input type="checkbox" id="china" th:field="*{unselectedCategories}" th:value="CHINESE">중식</label></th>
        </tr>
        <tr>
          <th onclick="colorChange(this.id, event)" id="food3"><label><input type="checkbox" id="japan" th:field="*{unselectedCategories}" th:value="JAPANESE">일식</label></th>
          <th onclick="colorChange(this.id, event)" id="food4"><label><input type="checkbox" id="western" th:field="*{unselectedCategories}" th:value="ITALY">양식</label></th>
        </tr>
        <tr>
          <th onclick="colorChange(this.id, event)" id="food5"><label><input type="checkbox" id="asian" th:field="*{unselectedCategories}" th:value="ASIAN">아시아</label></th>
          <th onclick="colorChange(this.id, event)" id="food6"><label><input type="checkbox" id="chicken" th:field="*{unselectedCategories}" th:value="CHICKEN">치킨</label></th>
        </tr>
        <tr>
          <th onclick="colorChange(this.id, event)" id="food7"><label><input type="checkbox" id="fastfood" th:field="*{unselectedCategories}" th:value="FAST_FOOD">패푸</label></th>
          <th onclick="colorChange(this.id, event)" id="food8"><label><input type="checkbox" id="steak" th:field="*{unselectedCategories}" th:value="GOGI">고기</label></th>
        </tr>
        <tr>
          <th onclick="colorChange(this.id, event)" id="food9"><label><input type="checkbox" id="snack" th:field="*{unselectedCategories}" th:value="BUNSIK">분식</label></th>
          <th onclick="colorChange(this.id, event)" id="food10"><label><input type="checkbox" id="food_etc" th:field="*{unselectedCategories}" th:value="ETC">기타</label></th>
        </tr>
      </table>
    </div>

    <div class="condition">
      <h3>원하는 조건을 모두 클릭하세요</h3>
      <table align="center">
        <tr>
          <th onclick="colorChange(this.id, event)" id="condition1"><label><input type="checkbox" name="condition" th:field = "*{isAtmosphere}">분위기</label></th>
          <th onclick="colorChange(this.id, event)" id="condition2"><label><input type="checkbox" name="condition" th:field = "*{hasCostPerformance}">가성비</label></th>
          <th onclick="colorChange(this.id, event)" id="condition3"><label><input type="checkbox" name="condition" th:field = "*{canEatSingle}">혼밥</label></th>
        </tr>
      </table>
    </div>

    <div class="maxCost">
      <h4>최대 금액(1인당) : </h4>
      <input type="text" name="maxCostLine" th:field = "*{maxCostLine}" value="" id="maxCostLine"/>
      <div th:errors="*{maxCostLine}" style="color: red">금액 관련 오류</div>
    </div>

    <button class="btn-primary" type="submit">전송</button>

  </form>
</main>
</body>
</html>
