<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
  <meta charset="UTF-8">
  <title>식당 조건 검색</title>
</head>
<body>
<form action="" method="post">

  <div>
    <div>위치를 선택하세요 : </div>
    <div>
      <input type="checkbox" name="locations" value="BACK_DOOR" text ="위치 이름" id="locations1"><input type="hidden" name="_locations" value="on"/>전대후문</input>
    </div>
    <div>
      <input type="checkbox" name="locations" value="FRONT_DOOR" text ="위치 이름" id="locations2"><input type="hidden" name="_locations" value="on"/>전대정문</input>
    </div>
    <div>
      <input type="checkbox" name="locations" value="SANGDAE" text ="위치 이름" id="locations3"><input type="hidden" name="_locations" value="on"/>상대</input>
    </div>
    <div>
      <input type="checkbox" name="locations" value="ENGINEER_SIDE_DOOR" text ="위치 이름" id="locations4"><input type="hidden" name="_locations" value="on"/>공대쪽문</input>
    </div>
    <div>
      <input type="checkbox" name="locations" value="BOKGAE" text ="위치 이름" id="locations5"><input type="hidden" name="_locations" value="on"/>복개도로</input>
    </div>
    <div>
      <input type="checkbox" name="locations" value="INSIDE_SCHOOL" text ="위치 이름" id="locations6"><input type="hidden" name="_locations" value="on"/>학교내부</input>
    </div>
  </div>

  <div>
    <label>먹기 싫은 종류의 음식을 선택하세요 : </label>
    <div>
      <input type="checkbox" name="unselectedCategories" value="KOREAN" text ="음식 종류 이름" id="unselectedCategories1"><input type="hidden" name="_unselectedCategories" value="on"/>한식</input>
    </div>
    <div>
      <input type="checkbox" name="unselectedCategories" value="CHINESE" text ="음식 종류 이름" id="unselectedCategories2"><input type="hidden" name="_unselectedCategories" value="on"/>중식</input>
    </div>
    <div>
      <input type="checkbox" name="unselectedCategories" value="ITALY" text ="음식 종류 이름" id="unselectedCategories3"><input type="hidden" name="_unselectedCategories" value="on"/>양식</input>
    </div>
    <div>
      <input type="checkbox" name="unselectedCategories" value="JAPANESE" text ="음식 종류 이름" id="unselectedCategories4"><input type="hidden" name="_unselectedCategories" value="on"/>일식</input>
    </div>
    <div>
      <input type="checkbox" name="unselectedCategories" value="CHICKEN" text ="음식 종류 이름" id="unselectedCategories5"><input type="hidden" name="_unselectedCategories" value="on"/>치킨</input>
    </div>
    <div>
      <input type="checkbox" name="unselectedCategories" value="FAST_FOOD" text ="음식 종류 이름" id="unselectedCategories6"><input type="hidden" name="_unselectedCategories" value="on"/>패스트푸드</input>
    </div>
    <div>
      <input type="checkbox" name="unselectedCategories" value="GOGI" text ="음식 종류 이름" id="unselectedCategories7"><input type="hidden" name="_unselectedCategories" value="on"/>고기(구워먹는)</input>
    </div>
    <div>
      <input type="checkbox" name="unselectedCategories" value="ASIAN" text ="음식 종류 이름" id="unselectedCategories8"><input type="hidden" name="_unselectedCategories" value="on"/>아시안</input>
    </div>
    <div>
      <input type="checkbox" name="unselectedCategories" value="BUNSIK" text ="음식 종류 이름" id="unselectedCategories9"><input type="hidden" name="_unselectedCategories" value="on"/>분식</input>
    </div>
    <div>
      <input type="checkbox" name="unselectedCategories" value="ETC" text ="음식 종류 이름" id="unselectedCategories10"><input type="hidden" name="_unselectedCategories" value="on"/>기타</input>
    </div>
  </div>

  <div>
    <div><label>원하는 조건을 클릭하세요 : </label></div>
    <div>
      <input type="checkbox" name="isAtmosphere" value="true" id="isAtmosphere1"><input type="hidden" name="_isAtmosphere" value="on"/>분위기여부
    </div>
    <div>
      <input type="checkbox" name="hasCostPerformance" value="true" id="hasCostPerformance1"><input type="hidden" name="_hasCostPerformance" value="on"/>가성비
    </div>
    <div>
      <input type="checkbox" name="canEatSingle" value="true" id="canEatSingle1"><input type="hidden" name="_canEatSingle" value="on"/>혼밥가능
    </div>
  </div>

  <div>
    <label>1인당 사용할 수 있는 최대 금액을 입력하세요 : </label>
    <input type="text" name="maxCostLine" value="" id="maxCostLine"/>
  </div>

  <div>
    <label>언제 식사를 할 예정인가요? : </label>
    <div>
      <input type="radio" name="openType" value="LUNCH" text ="시간대" id="openType1">점심</input>
    </div>
    <div>
      <input type="radio" name="openType" value="DINNER" text ="시간대" id="openType2">저녁</input>
    </div>
  </div>

  <button class="btn-primary" type="submit">전송</button>

</form>

</body>
</html>