@font-face {
    font-family: '까투리';
    src: url("../font/Katuri.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '나눔스퀘어';
    src: url("../font/NanumSquareRoundB.ttf");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: '나눔스퀘어';
    margin: 0;
    background-color: ghostwhite;
}
header{
    font-family: '까투리';
    text-align: center;
    font-size: 35px;
    border-style: solid;
    border-width: 6px;
    border-color: cadetblue;
    margin-bottom: 1rem;
    padding: 10px;
}
main{
    margin-left: 1rem;
    margin-right: 1rem;
}

h3{
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}
h4{
    font-size: 17px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    display: inline-block;
}
h5{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.hashtag span{
    display: inline-block;
    font-size: 12px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: lightgray;
    padding: 5px;
}

main button{
    display: inline-block;
    vertical-align: middle;
    border-width: 0;
    border-radius: 5px;
    color: white;
    background-color: #9abf7f;
    font-weight: bolder;
    font-size: 16px;
    width: 9%;
    height: 145px;
    box-shadow: -3px -3px 2px rgba(228, 226, 226,0.8), 3px 3px 5px rgba(0,0,0,0.2);
}
footer button{
    display: inline-block;
    float: right;
    margin: 5px 0 5px 10px;
    border-width: 0;
    border-radius: 5px;
    color: white;
    background-color: seagreen;
    font-weight: bolder;
    font-size: 13px;
    width: 50px;
    height: 30px;
    box-shadow: -3px -3px 2px rgba(228, 226, 226,0.8), 3px 3px 5px rgba(0,0,0,0.2);
}
footer{
    margin-left: 1rem;
    margin-right: 1rem;
}
footer div{
    display: inline-block;
    width: 100%;
}
input[type="text"]{
    display: inline-block;
    margin: 2px 0 2px 0;
    width: 35%;
    height: 23px;
}
input[type="password"]{
    display: inline-block;
    margin: 2px 0 2px 0;
    width: 54%;
    height: 23px;
}

textarea{
    display: inline-block;
    width: 83%;
    margin-top: 5px;
    resize: none;
    vertical-align: middle;
}

table{
    width: 100%;
    border-style: solid;
    border-color: gray;
    border-collapse: collapse;
}
tr th{
    border-style: solid;
    border-color: gray;
    background-color: blanchedalmond;
}
td{
    border-style: solid;
    border-color: gray;
    background-color: white;
}
.bbs{
    margin-top: 10px;
}

.hashtag{
    margin-top: 5px;
    margin-bottom: 10px;
}
@media screen and (min-width: 450px){
    body{
        text-align: center;
    }
    main{
        width: 450px;
        text-align: left;
        display: inline-block;

    }
    footer{
        width: 450px;
        display: inline-block;
        vertical-align: top;
    }
}
