@font-face {
    font-family: '나눔손글씨 느릿느릿체';
    src: url("../font/나눔손글씨 느릿느릿체.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '까투리';
    src: url("../font/Katuri.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '미생';
    src: url("../font/SDMiSaeng.ttf");
    font-weight: normal;
    font-style: normal;
}
header{
    font-family: '나눔손글씨 느릿느릿체';
    text-align: center;
    color: #F46364;
    font-size: 60px;
    padding: 10px;
    margin: 15px 0 15px 0;
}

body{
    font-family: '미생';
    margin: 0 15px 15px 15px;
    background-color: #FDE9E0;
}
main{
    background-color: ghostwhite;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

article {
    border-style: solid;
    border-color: #F46364;
    border-radius: 15px;
    margin: 50px;
    background-color: white;
    
}

td{
    border-left: solid 2px gray;
    border-collapse: collapse;
    text-align: center;
    font-size: 15px;
    padding-left: 7px;
    padding-right: 5px;
}
img {
    display: inline-block;
    margin-left: 10px;
}

caption{
    /*display: inline-block;*/
    display: flex;
    font-size: 25px;
}

table{
    display: inline-block;
    vertical-align: top;
    width: 75%;
    margin-bottom: 25px;
    margin-left: 20px;
}
table td:first-child{

    border-left-style: none;
 }
table td:last-child{
}

article{
    display: block;
    margin: 0 10px 10px 10px;
    height: 300px;
    border-style: solid;
}
.maps:after{
    padding-bottom: 100%;
}

@media screen and (min-width: 450px){
    body{
        text-align: center;
    }
    main{
        width: 450px;
        display: inline-block;
    }
    article{
        display: inline-block;
        vertical-align: top;
        width: 450px;
        height: 400px;
        position: center;
        border-style: solid;
    }
}