@font-face {
    font-family: '나눔손글씨 느릿느릿체';
    src: url("../font/나눔손글씨 느릿느릿체.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '까투리';
    src: url("../font/Katuri.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '미생';
    src: url("../font/SDMiSaeng.ttf");
    font-weight: normal;
    font-style: normal;
}
header{
    font-family: '나눔손글씨 느릿느릿체';
    text-align: center;
    color: #F46364;
    font-size: 60px;
    padding: 10px;
    margin: 15px 0 15px 0;
}

body{
    font-family: '미생';
    margin: 0 15px 15px 15px;
    background-color: #FDE9E0;
}
main{
    background-color: ghostwhite;
    border-radius: 20px;
    text-align: center;
}
table{
    border-radius: 15px;
    border-spacing: 10px;
}
#table_time{
    border-radius: 15px;
    border-spacing: 10px;
}
#table_time tr td{
    padding: 0;
    border-style: solid;
    text-align: center;
    width: 125px;
    height: 40px;
    border-color: #F46364;
    border-collapse: collapse;
    border-radius: 20px;
}

.maxCost td:last-child{
    text-align: left;
    font-size: 23px;
    width: 10%;
}

.maxCost tr td{
    border-style: none;
}

div{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
}

tr td {
    padding: 0;
    border-style: solid;
    text-align: center;
    width: 80px;
    height: 40px;
    border-color: #F46364;
    border-collapse: collapse;
    border-radius: 20px;
}

label {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    border-collapse: collapse;
    border-radius: 18px;
}

input[type="checkbox"] {
    display: none;
}
input:checked + label{
    background-color: #FFBBBC;
}
input[type="radio"] {
    display: none;
}
input[type="text"] {
    display: inline-block;
    text-align: right;
    outline: #ff030c;
    width: 230px;
    height: 25px;
    margin: 0 auto;
    background-color: white;
    border-style: solid;
    border-color: #F46364;
    border-width: 3px;
    border-radius: 5px;
    box-shadow: none;
}
caption{
    font-size: 27px;
    padding: 0;
    margin: 10px 0 10px 10px;
    text-align: left;
}
h3{
    font-size: 25px;
    display: inline-block;
    padding: 0;
    margin: 5px 0 10px 0;

}
h4{
    font-size: 17px;
    display: inline-block;
}
h5{
    padding-top: 20px;
    margin-bottom: 5px;
    display: inline-block;
}

article{
    padding: 1rem;
}

button{
    font-family: '까투리';
    font-weight: lighter;
    border-width: 0;
    border-radius: 5px;
    margin: 30px 0 10px ;
    color: white;
    background-color: #F46364;
    font-size: 25px;
    width: 150px;
    height: 40px;
    box-shadow: -3px -3px 2px rgba(228, 226, 226,0.8), 3px 3px 5px rgba(0,0,0,0.2);
}

span{
    color: red;
    text-decoration: underline;
}

.maxCost{
    text-align: center
}
.maxCost div{
    display: block;
}

@media screen and (min-width: 450px){
    body{
        text-align: center;
    }
    main{
        width: 450px;
        display: inline-block;

    }
}