<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <span>가게명 : </span>
    <span><a th:text="${restaurant.name}" th:href="@{${restaurant.url}}" target='_blank'>zz</a></span>
</div>
<div>
    <span>카테고리 : </span>
    <span th:text="${foodCategories[restaurant.category.name()]}">ㅋㅋ</span>
</div>
<div>
    <span>TMI : </span>
    <span th:text="${restaurant.adminComment}">ㅋㅋ</span>
</div>
<div th:block th:if = "${restaurant.getLunchMenuName() != null}">
    <div>
        <span>점심 추천 메뉴 : </span>
        <span th:text="${restaurant.getLunchMenuName()}">ㅋㅋ</span>
        <span> / 가격 : </span>
        <span th:text="${restaurant.getLunchMenuPrice()}">ㅋㅋ</span>
    </div>
</div>
<div th:block th:if = "${restaurant.getDinnerMenuName() != null}">
    <div>
        <span>저녁 추천 메뉴 : </span>
        <span th:text="${restaurant.getDinnerMenuName()}">ㅋㅋ</span>
        <span>/ 가격 : </span>
        <span th:text="${restaurant.getDinnerMenuPrice()}">ㅋㅋ</span>
    </div>
</div>

<div>
    <span th:if="${restaurant.hasCostPerformance}">#가성비 </span>
    <span th:if="${restaurant.canEatSingle}">#혼밥가능 </span>
    <span th:if="${restaurant.isAtmosphere}">#분위기 </span>
</div>

<div>
    <form action="" th:action="@{/reviews(restaurantId=${restaurant.id})}" method="post" th:object="${createReviewRequestDto}">
        <div>
            <input type="text" th:field="*{name}">
            <input type="password" th:field="*{password}">
            <input type="text" th:field="*{content}">
        </div>
        <button type="submit">전송</button>
    </form>

</div>
<div th:each="review : ${reviews}">
    <div th:text="${review.writerName}"></div>
    <div th:text="${review.content}"></div>
</div>

</body>
<!--타임리프 써서 반복.-->
</html>